	<div class="jumbotron jumbotronBLED">
		<div class="container">
			<br/>
			<br/>
			<div class="col-md-5">
			
			</div>
			<div class="col-md-7" style="background: rgba(50, 50, 50, 0.4);">
				<h1 class="centerTextIfSmall" style="color: white;">Color Mixing Lamp Controlled by iPhone</h1>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		<h3>Intro</h3>
		<p>I love the thought of manipulating the outside world with code.  This project uses Arduino, Red Bear BLE Shield and iPhone (Swift) to control the color and brightness of a light.</p>
	</div>
	<div class="col-md-10">
		<h3>Ingridients</h3>
		<ul class="list-group">
			<li class="list-group-item">Arduino (Genuino) Uno, Microcontroller</li>
			<li class="list-group-item">Red Bear Labs BLE Shield 2.1</li>
			<li class="list-group-item">Breadboard</li>
			<li class="list-group-item">RGB LED</li>
			<li class="list-group-item">3 x 220 Ohm Resistors</li>
			<li class="list-group-item">Power Source (computer via USB or 9V battery)</li>
			<li class="list-group-item">Jumper Wires</li>
		</ul>
	</div>	
	<div class="col-md-10">
		<h3>Set Up The Circuit</h3>
        <p>The cuircuit is a straight forward connection to a LED.  Not very different from a typical 'Hello World' in electronics, just using a single RGB color mixing LED and not a single color LED.  As seen in the diagram below, the Red, Green and Blue pins are connected to PWM output pins on the controller and the common ground runs to the ground on the controller.  The controller is then supplied power via a 9V battery (or the USB port can provide power to the controller).</p>
        <figure>
            <img src="../img/hack/bled_circuit.png" alt="Wiring diagram" style="width:400px;height:auto;"></img>
            <figcaption>The diagram of the simple circuit.</figcaption>
        </figure>
	</div>
	<div class="col-md-10">
		<h3>Program The MicroController</h3>
		<p>The circuit is set and now we need to teach the controller how / when it should power our various color pins. First, we include the necessary libraries for the BLE shield.  Then we define which pin is connected to which color of our RGB LED.</p>
		<br/>
		<pre class="prettyprint">
//Import needed libraries
#include <SPI.h>
#include <EEPROM.h>
#include <boards.h>
#include <RBL_nRF8001.h>
	
//Define global constant of which pin is which color to make code more readable
const int greenLEDPin = 5;
const int redLEDPin = 6;
const int blueLEDPin = 3;
		</pre>
		<br/>
		<p>Next step is to do the setup, telling the controller of our output pins, giving them initial values and firing up the bluetooth.</p>
		<br/>
		<pre class="prettyprint">
void setup() {
  // Make a serial connection for debugging when running via computer USB port.
  Serial.begin(9600);

  //Declare our LED pins as outputs
  pinMode(greenLEDPin, OUTPUT);
  pinMode(redLEDPin, OUTPUT);
  pinMode(blueLEDPin, OUTPUT);

  //Set the starting light color to even split RGB, mid level brightness (255 max)
  analogWrite(redLEDPin, 127);
  analogWrite(greenLEDPin, 127);
  analogWrite(blueLEDPin, 127);
  
  // Set your BLE Shield name here, max. length 10
  ble_set_name("LEDLamp");

  // Init. and start BLE library.
  ble_begin();
}
		</pre>
		<br/>
		<p>Now that we have the set up it is time to define the Loop, what the controller will be running on repeat as long as it is powered.  We set up some debugging to make sure our Bluetooth is connected, and if so we read in the passed values and if the value matches one of our LED pins we will assign the next given value as that pins value.</p>
	<br/>
	<pre class="prettyprint">
void loop() {
  // put your main code here, to run repeatedly:
   if(ble_connected()){
    Serial.print(" BLE connected ");
  } else {
    Serial.print(" [ERROR] BLE NOT connected ");
  }
   ble_do_events();

//While the bluetooth is connected, read in data of location / value pairing 
   while(ble_available()){   
      byte led;
      byte val;   

      if(led = ble_read()){
      //read the first number for the led to address, and the second for the value...
        val = ble_read();
        analogWrite(led, val);
        Serial.print(led);
        Serial.print(":");
        Serial.print(val);
        Serial.print("\n");
    }
  }
}
	</pre>
	</div>
	<div class="col-md-10">
		<h3>Program The App</h3>
		<p>Add code and discription of Swift set up.</p>
	</div>
	<div class="col-md-10">
		<h3>Result</h3>
		<p>Wrap up and embed video of working hack.</p>
	</div>
