	<div class="jumbotron jumbotronHacks" style="background-image: {{hack.image}};">
		<div class="container">
			<div class="col-md-2">
			
			</div>
			<div class="col-md-10">
				<h1 class="centerTextIfSmall">Color Mixing Lamp Controlled by iPhone</h1>
			</div>
		</div>
		<br/>
		<br/>
		<p class="centerTextIfSmall">{{project.detail}}</p>
	</div>
		<div class="col-sm-6 col-md-10">
			<h3>Ingridients</h3>
			<ul class="list-group">
				<li class="list-group-item">Arduino (Genuino) Uno, Microcontroller</li>
				<li class="list-group-item">Red Bear Labs BLE Shield 2.1</li>
				<li class="list-group-item">Breadboard</li>
				<li class="list-group-item">RGB LED</li>
				<li class="list-group-item">3 x 10 Ohm Resistors</li>
				<li class="list-group-item">Power Source (computer via USB or 9V battery)</li>
				<li class="list-group-item">Jumper Wires</li>
			</ul>
		</div>				
</div>
