		<div ng-repeat="project in projects | filter: 'mathespresso'">
			<div class="jumbotron" id="mathespresso">
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive" id="meimage" src="{{project.icon}}"></img>
					</div>
					<div class="col-md-10">
						<h1 class="centerTextIfSmall">{{project.title}}</h1>
					</div>
				</div>
				<br/>
				<br/>
				<p class="centerTextIfSmall">{{project.detail}}</p>
				<a href="{{project.link}}"><img src="img/App_Store_Badge.svg"></img></a>
			</div>
				<div class="col-sm-6 col-md-4" ng-repeat="image in project.image">
					<div class="thumbnail">
						<div class="caption">
							<h3 class="ssHeader">{{image.header}}</h3>
						</div>
						<img src="{{image.ss}}""></img>
					</div>
				</div>				
		</div>
