<div ng-init="checked=false" class="showLinksContainer">
  <div class="row">
    <div class="col-md-3">
      <div id="linksButton">
        <label>
          <input type="checkbox" ng-model="checked"><span>+</span>
        </label>
      </div>
      <div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">
        <ul class="linkList">
			<li><a href"#">Home</a></li>
			<li><a href"#mathespresso">Math Espresso</a></li>
			<li><a href"http://kentuckysportsradio.com/">Kentucky Sports Radio</a></li> 
		</ul>
      </div>
    </div>  
  </div>
</div>
